/Machine Learning Neural Net Rosenbrock Estimation2222/Machine Learning Neural Net Rosenbrock Estimation/nbproject/private/
/Machine Learning Neural Net Rosenbrock Estimation2222/Machine Learning Neural Net Rosenbrock Estimation/build/